<%= render 'users/info', user: @user %>

<div class="col-md-8 offset-md-1">
<h1>Users</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |list| %>
      <%= render 'users/list', list: list %>
    <% end %>
  </tbody>
</table>
</div>