<%= render 'users/info', user: @user %>

<div class="col-md-8 offset-md-1">
<h1>Books</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |list| %>
      <tr>
        <td><%= link_to attachment_image_tag(@user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: "40x40"),user_path(@user)%></td>
        <td><%= link_to list.title, book_path(list.id) %></td>
        <td><%= list.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>